<a href="https://colab.research.google.com/github/alirezaghanbari666/Machinlearning-with-python-andpytorch/blob/main/Copy_of_boats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# !pip install catboost

In [2]:
# !pip install pandas-profiling==2.7.1

import needed libraries

In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import seaborn as sns; sns.set()
import warnings
warnings.filterwarnings('ignore')

loading data and take a look at it

In [33]:
df = pd.read_csv('/content/boat_data.csv')
df.head()

   Year Built  Length  Width  Number of views last 7 days
0        2017      13      2                          226
1        2020      13      2                           75
2           0      13      2                          124
3        2020      13      2                           64
4        2019      13      2                           58

In [34]:
X = df.values[:,: 3]
y  = df.values[:, 3]

In [35]:
X

array([[2017,   13,    2],
       [2020,   13,    2],
       [   0,   13,    2],
       ...,
       [2020,   13,    2],
       [2018,   13,    2],
       [2019,   13,    2]])

In [36]:
y

array([226,  75, 124, ..., 354, 266, 194])

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year Built                   9888 non-null   int64
 1   Length                       9888 non-null   int64
 2   Width                        9888 non-null   int64
 3   Number of views last 7 days  9888 non-null   int64
dtypes: int64(4)
memory usage: 309.1 KB

In [38]:
df.describe()

        Year Built  Length   Width  Number of views last 7 days
count  9888.000000  9888.0  9888.0                  9888.000000
mean   1893.192860    13.0     2.0                   149.160801
std     460.201582     0.0     0.0                   151.819752
min       0.000000    13.0     2.0                    13.000000
25%    1996.000000    13.0     2.0                    70.000000
50%    2007.000000    13.0     2.0                   108.000000
75%    2017.000000    13.0     2.0                   172.000000
max    2021.000000    13.0     2.0                  3263.000000

In [39]:
df.isnull().sum()

Year Built                     0
Length                         0
Width                          0
Number of views last 7 days    0
dtype: int64

Clean the price column

In [40]:
X = df['Width'].value_counts()
X

2    9888
Name: Width, dtype: int64

In [41]:
df['Number of views last 7 days'].value_counts()

68      91
74      87
62      84
67      84
81      84
        ..
582      1
332      1
868      1
435      1
1116     1
Name: Number of views last 7 days, Length: 674, dtype: int64

In [42]:
y= df['Length'].value_counts()
y

13    9888
Name: Length, dtype: int64

Converting all of the price in every currenciies to Euro

In [43]:
print(df['Length'].isnull().sum())
print(df['Width'].isnull().sum())

0
0

In [44]:
df.shape

(9888, 4)

In [45]:
df['Year Built'].value_counts

<bound method IndexOpsMixin.value_counts of 0       2017
1       2020
2          0
3       2020
4       2019
        ...
9883    1987
9884       0
9885    2020
9886    2018
9887    2019
Name: Year Built, Length: 9888, dtype: int64>

In [46]:
X = df.drop(columns='Length',axis=1)
y = df['Width']

In [47]:
X

      Year Built  Width  Number of views last 7 days
0           2017      2                          226
1           2020      2                           75
2              0      2                          124
3           2020      2                           64
4           2019      2                           58
...          ...    ...                          ...
9883        1987      2                         1116
9884           0      2                           94
9885        2020      2                          354
9886        2018      2                          266
9887        2019      2                          194

[9888 rows x 3 columns]

In [48]:
y

0       2
1       2
2       2
3       2
4       2
       ..
9883    2
9884    2
9885    2
9886    2
9887    2
Name: Width, Length: 9888, dtype: int64

In [49]:
df.head(10)

   Year Built  Length  Width  Number of views last 7 days
0        2017      13      2                          226
1        2020      13      2                           75
2           0      13      2                          124
3        2020      13      2                           64
4        2019      13      2                           58
5           0      13      2                          132
6        1999      13      2                          474
7           0      13      2                          134
8        2019      13      2                           45
9        2018      13      2                          180

In [53]:
df.corr()

,Year Built,Length,Width,Number of views last 7 days
Year Built,1.000000,NaN,NaN,0.024808
Length,NaN,NaN,NaN,NaN
Width,NaN,NaN,NaN,NaN
Number of views last 7 days,0.024808,NaN,NaN,1.000000

In [51]:
# sns.heatmap(df.corr(),square=True,cmap="RdYlGn");

In [54]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9883    False
9884     True
9885     True
9886     True
9887    False
Length: 9888, dtype: bool

In [55]:
#Check to remove duplicates
df.drop_duplicates()

      Year Built  Length  Width  Number of views last 7 days
0           2017      13      2                          226
1           2020      13      2                           75
2              0      13      2                          124
3           2020      13      2                           64
4           2019      13      2                           58
...          ...     ...    ...                          ...
9878        1980      13      2                         1917
9879           0      13      2                          280
9882        1984      13      2                          288
9883        1987      13      2                         1116
9887        2019      13      2                          194

[5800 rows x 4 columns]

In [56]:
#Removal of some cells by Drupna
df.dropna()

      Year Built  Length  Width  Number of views last 7 days
0           2017      13      2                          226
1           2020      13      2                           75
2              0      13      2                          124
3           2020      13      2                           64
4           2019      13      2                           58
...          ...     ...    ...                          ...
9883        1987      13      2                         1116
9884           0      13      2                           94
9885        2020      13      2                          354
9886        2018      13      2                          266
9887        2019      13      2                          194

[9888 rows x 4 columns]

In [57]:
df = pd.get_dummies(df, drop_first=True)
df.head()

   Year Built  Length  Width  Number of views last 7 days
0        2017      13      2                          226
1        2020      13      2                           75
2           0      13      2                          124
3        2020      13      2                           64
4        2019      13      2                           58

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size=0.2, # 20% test, 80% train
                                                    random_state=42)

In [59]:
print(X.shape,X_train.shape,X_train.shape)

(9888, 3) (7910, 3) (7910, 3)

In [61]:
from sklearn.neural_network import MLPClassifier

model = MLPClassifier(random_state=0, max_iter=300).fit(X_train, y_train)



model=MLPClassifier(
    hidden_layer_sizes=(100,100),
    activation='relu',
    solver='sgd',
    alpha=0.0001,
    batch_size=256,
    learning_rate='adaptive',
    learning_rate_init= 0.0001,
    power_t=0.9,
    max_iter=300,
    shuffle=True,
    random_state=0,
    tol=1e-6,
    verbose=0,
    warm_start=bool,
    momentum=0.10,
    nesterovs_momentum=True,
    early_stopping=False,
    validation_fraction=0.2,
    beta_1=0.9,
    beta_2=0.999,
    epsilon=1e-08,
    n_iter_no_change=10,
    max_fun=16000,
)
moel = MLPClassifier(hidden_layer_sizes=(100, 100), verbose=True, max_iter=300)
model.fit(X_train, y_train)

#In this way, you can check the function and itration
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

X_test_prediction = model.predict(X_test)
test_data_accuracy =accuracy_score(X_test_prediction,y_test)
print('Accuracy Test Precision  data : ',test_data_accuracy)

Accuracy Test Precision  data :  1.0